*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1300px;
    height: 100%;
    max-height: 120px;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-top: 6px solid rgb(143, 9, 9);
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
}
.contenedor img{
    width: 800px;
    float: left;
    margin-right: 60px;
}

.contenedor p{
    margin-right: 90px;
}

.logo{
    width: 20%;
    max-width: 300px;
    max-height: 0px;
    float: left;
}

.logo img{
    width: 200px;
    float: left;
    margin-left: 50px;
}

.logo p{
    font-size: 16px;
    margin-left: 75px;
    float: left;
}

.pagina{
    width: 16%;
    max-width: 250px;
    max-height: 0px;
    float: right;
}
.pagina img{
    width: 100px;
    float: right;
    margin-right: 120px;
}

.pagina p{
    font-size: 14px;
    margin-right: 70px;
    float: right;
}

.welcome{
    width: 20%;
    max-width: 350px;
    margin-top: 420px;
    float: right;
    margin-right: 45px;
}

.welcome img{
    width: 410px;
    float: right;
}

.welcome p{
    font-size: 30px;
}

.wine{
    width: 20%;
    max-width: 300px;
    float: left;
    margin-top: 550px;
}

.wine img{
    width: 300px;
    float: left;
    margin-left: 25px;
}


.inferior p{
    margin-top: 650px;
    margin-left: 650px;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}